<div class="left-panel"> 
    <h1><a href="">SAINT LAURENT</a></h1>
    <ul data-level="1">
        <% for (let i = 0; i < categories.filterCategories('leftSidebar', 1, 'leftSidebar').length; i++) { %>
            <% const iButtonName = categories.filterCategories('leftSidebar', 1, 'leftSidebar')[i]['name'] %> 
            <li>
                <button data-level="1" data-active="false"><%= categories.filterCategories('leftSidebar', 1, 'leftSidebar')[i]['name'].toUpperCase() %></button>
                <div class="subnav" data-expanded="false">
                    <ul data-level="2">
                        <% for (let j = 0; j < categories.filterCategories('leftSidebar', 2, iButtonName).length; j++) { %> 
                        <li>
                            <button data-level="2"><%= categories.filterCategories('leftSidebar', 2, iButtonName)[j]['name'].toUpperCase() %> </button>
                            <div class="subnav" data-expanded="false"></div>
                        </li>
                        <% } %> 
                    </ul>
                </div>
            </li>
        <% } %> 
    </ul>
</div>