<div class="left-panel">
    <h1><a href="">SAINT LAURENT</a></h1>
    <ul data-level="1">
        <li>
            <button>SHOP WOMEN</button>
            <ul data-level="2">
                <li>
                    <button>NEW - SPRING 22</button>
                </li>
                <li>
                    <button>READY TO WEAR</button>
                </li>
                <li>
                    <button>SHOES</button>
                </li>
                <li>
                    <button>HANDBAGS</button>
                </li>
                <li>
                    <button>MINI BAGS</button>
                </li>
                <li>
                    <button>BELTS AND BELT BAGS</button>
                </li>
                <li>
                    <button>SMALL LEATHER GOODS</button>
                </li>
                <li>
                    <button>ACCESSORIES</button>
                </li>
                <li>
                    <button>SUNGLASSES</button>
                </li>
                <li>
                    <button>JEWELRY</button>
                </li>
            </ul>
        </li>
        <li>
            <button>SHOP MEN</button>
            <ul data-level="2">
                <li>
                    <button>NEW - SPRING 22</button>
                </li>
                <li>
                    <button>READY TO WEAR</button>
                </li>
                <li>
                    <button>SHOES</button>
                </li>
                <li>
                    <button>BAGS</button>
                </li>
                <li>
                    <button>SMALL LEATHER GOODS</button>
                </li>
                <li>
                    <button>BELTS AND BELT BAGS</button>
                </li>
                <li>
                    <button>JEWELRY</button>
                </li>
                <li>
                    <button>ACCESSORIES</button>
                </li>
                <li>
                    <button>SUNGLASSES</button>
                </li>
            </ul>
        </li>
        <li>
            <button>GIFTS</button>
            <ul data-level="2">
                <li>
                    <button>FOR HER</button>
                </li>
                <li>
                    <button>FOR HIM</button>
                </li>
                <li>
                    <button>LIFESTYLE</button>
                </li>
                <li>
                    <button>FRAGRANCE</button>
                </li>
            </ul>
        </li>
        <li>
            <button>COLLECTIONS</button>
            <ul data-level="2">
                <li>
                    <button>WOMEN'S SUMMER 22</button>
                </li>
                <li>
                    <button>MEN'S SPRING SUMMER 22</button>
                </li>
                <li>
                    <button>WOMEN'S WINTER 21</button>
                </li>
                <li>
                    <button>WOMEN'S SUMMER 21</button>
                </li>
                <li>
                    <button>MEN'S SPRING SUMMER 21</button>
                </li>
            </ul>
        </li>
        <li>
            <button>LA MAISON</button>
        </li>
        <li>
            <button>SAINT LAURENT SELF</button>
        </li>
        <li>
            <button>STORE LOCATOR</button>
        </li>
        <li>
            <button>RIVE DROITTE</button>
        </li>
    </ul>
</div>


<!-- 
    <div class="left-panel">
    <h1><a href="">SAINT LAURENT</a></h1>
    <div class="panel-link-div" id="panel-link-div-left-1">
        <h2 href="" data-level="1">SHOP WOMEN</h2>
        <br><h2 href="" data-level="1">SHOP MEN</h2>
        <br><h2 href="" data-level="1">GIFTS</h2>
        <br><h2 href="" data-level="1">HOLIDAYS ARRIVALS</h2>
    </div>
    <div class="panel-link-div" id="panel-link-div-left-2">
        <h2 href="" data-level="1">COLLECTIONS</h2>
        <br><h2 href="" data-level="1">LA MAISON</h2>
        <br><h2 href="" data-level="1">SAINT LAURENT SELF</h2>
        <br><h2 href="" data-level="1">STORE LOCATOR</h2>
    </div>
    <div class="panel-link-div" id="panel-link-div-left-3">
        <h2 href="" data-level="1">&#9632; RIVE DROITE</h2>
    </div>
</div>
 -->