<div class="right-panel">
    <img src="https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg" alt="">
        <ul data-level="1">
            <% for (let i = 0; i < rightLevelOne.length; i++) { %>
                <li>
                    <button><%= rightLevelOne[i]['name'].toUpperCase() %></button>
                </li>
            <% } %> 
        </ul>
</div>