<%- layout('layouts/boilerplate')  %> 
<%- // block('head').append('<link rel="stylesheet" href="/stylesheets/home.css">') %>
<img class="main-img" src="https://saint-laurent.dam.kering.com/m/7e2cb70005883da4/original/110_AL-PACINO_2875x1280.jpg" alt="">
<div class="center-panel">
    <div class="main-img-div">
            <h2>SPRING 22</h2>
            <a href="">SHOP THE SELECTION</a>
    </div>
</div>